.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    max-width: 300px;
    margin: 16px auto;
    transition: transform 0.3s ease-in-out;
}

.container:hover {
    transform: translateY(-5px);
}

.Imagem img {
    max-width: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.Titulo h1 {
    font-size: 1.5em;
    color: #333;
    margin: 12px 0 8px 0;
    text-align: center;
}

.Desenvolvedor h2 {
    font-size: 1.0em;
    color: #777;
    margin: 0;
    text-align: center;
}
.Plataforma h2 {
    font-size: 1.0;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}
