.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin:50px ;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 450px;
    border-radius: 10px;
    width: 310px;
    padding: 1px;
    height: 100%;

    img {
        height: 300px;
        width: 100%;
        border-radius: 10px 10px 10px 10px;
    }
    
    &:hover {
        transform: translateY(-5px);
    }

    .conteudo {
        padding: 10px;
    }

    .titulo {
        color: white;
        font-size: 20px;
        font-weight: 500;
        text-align: left;
    }
      
    .ano {
        color: white;
        font-size: 15px;
        text-align: left;
    }

    .avaliacao {
        font-size: 15px;
        color: green;
        text-align: left;
    }
}
